<div class='container'>

  <form action="/play_deck" method="post">
    <input type="submit" value="Play Game">
  </form>

  <%if @current_question %>
    Question: <%= @current_question %><br>
  <%end%> 
  <%if @current_answer %>
    Answer: <%= @current_answer %>
  <%end%>

  <form action="/see_answer" method="post">
    <input type="submit" value="Answer">
  </form>

  <form action="/correct" method="post">
    <input type="submit" value="Correct">
  </form>

  <form action="/incorrect" method="post">
    <input type="submit" value="Incorrect">
  </form>


</div>
