<div class="container">

  <div class="hero-unit">
    <img class "logo" src="/card-only.png"/>
    <%if current_user%>
    <h2>Welcome, <%= "#{current_user.first_name.capitalize}" %>! </h2>
    <%end%>
    <form method="get" name="input" action="/">
    <input type="submit" value="Home">
    <form method="post" name="input" action="/logout">
    <input type="submit" value="Log Out">
      </form>



  </div><!-- .hero-unit -->

  <div class="row">

    <div class="span4">
      <h3>High Scores here</h3>
    </div>

    <div class="span4">

      <%@decks = Deck.all%>
      <%@decks.each do |deck|%>
      <%=deck.name%> <br>
      <%end%>

      <form method="post" name="input" action="/play_deck">
        <input type="submit" value="Play">
      </form>
    </div>


  </div><!-- .row -->
</div><!-- .container -->
